@media (max-width: 768px) {
    body{
      padding-top: 60px;
    }
    nav {
      display: flex;
      justify-content: space-between;
    }
    
    nav #burger {
      display: block;
      transition: 0.6s;
      margin: 30px;
    }

    .rotate {
      transform: rotate(-90deg);
    }
  
    .links {
      position: absolute;
      left: 0;
      top: 40px;
      width: 100%;
      background: #1c1c1c;
      flex-direction: column;
      align-items: center;
      transform: translateY(calc(-100% - 60px));
      transition: 0.6s;
    }
  
    .show-nav {
      transform: translateY(25px);
    }

    header {
     display: flex;
     flex-direction: column;

     #registration{
     padding: 20px;
     width: 100%;
     }
    }
   .social-media {
     @include column-container;
     padding-bottom: 15px;
     .left {
      width: 90%;
     }
    }
    #tabbs {
      display: flex;
      flex-direction: column;
      height: auto;
      padding: 15px;
      .tabs-container {
        width: auto;
        padding: 10px;
      }
      .buttons {
        float: none;
        @include center-container;
        width: auto;
      }
      .images {
        display: flex;
        flex-direction: row;
       width: auto;
      }
    }
    #about {
      height: auto;
      @include column-container;
      .logo {
        width: 70%;
      }
      .paragraph1{
        width: auto;
      }
      img{
        width: auto;
      }
    }
  .recommendations #recommendations1{
   .ideas{
    @include column-container;
    .design{
    width: 100%;
    padding: 10px;
    }
    h3 {
      padding: 0px;
    }
   }
  }

  #swiper{
   h1{
    padding: 0px;
   }
  }
  .bottom{
   display: block;
   height: auto;
   .media{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
   }
  }
}